@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;600&display=swap');

html,
body,
#root,
.app {
  font-family: "Rubik", sans-serif;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-weight: 300;
}

::-webkit-scrollbar {
  display: none;
}

.app {
  padding: 0 1rem;
}
/* .hero-title h1 {
  background: rgb(34,193,195);
  background: linear-gradient(37deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

@media only screen and (min-width: 768px) {
  .container-wrapper {
    max-width: 90%;
    margin: auto;
  }

  .hero-title h1 {
    font-size: 4rem;
  }

  .hero-title {
    width: 90%;
  }
}

@media only screen and (min-width: 1200px) {
  .container-wrapper {
    max-width: 80%;
    margin: auto;
  }
  .hero-title h1 {
    font-size: 5rem;
  }

  .hero-title {
    width: 90%;
  }
}

@media only screen and (min-width: 1500px) {
  .container-wrapper {
    max-width: 75%;
    margin: auto;
  }
  .hero-title h1 {
    font-size: 6rem;
  }

  .hero-title {
    width: 90%;
  }
}